<% @articles.each do |article| %>
  <div class="card horizontal">
      <div class="card-image waves-effect waves-block waves-light my-height">
        <%= image_tag("default.jpg") %>
      </div>
      <div class="card-stacked my-height">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= article.title %><i class="material-icons right">expand_less</i></span>
          <span class=" grey-text text-darken-4">Written by <%= article.user.username %></span>
        </div>
        <div class="card-action">
        <%= link_to like_article_path(article.id), id: article.id, method: :post do %>
          <% if i_have_liked_article article.id %>
            <i class="material-icons icon-red favorite" id="<%= article.id %>">favorite</i>
          <% else %>
            <i class="material-icons icon-red favorite" id="<%= article.id %>">favorite_border</i>
          <% end %>
        <% end %>
        <%= link_to bookmark_article_path(article.id), method: :post do %>
          <% if i_have_bookmarked_article article.id %>
              <i class="material-icons icon-red favorite" id="<%= article.id %>">bookmark</i>
            <% else %>
              <i class="material-icons icon-red favorite" id="<%= article.id %>">bookmark_border</i>
            <% end %>
          <% end %>
          <%= link_to article do %>
            <i class="material-icons icon-red">mode_comment</i>
          <% end %>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Written by <%= article.user.username %><i class="material-icons right">expand_more</i></span>
        <p><%= article.article_summary %></p>
        <div class="card-action">
          <%= link_to 'Full Article', article %>
          <% if current_user && article_owner(article) %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
<%= will_paginate @articles, renderer: MaterializePagination::Rails %>
