<div class="container">
<p class="flow-text">
  <%= @article.title %>
</p>

<p>
  <%= @article.body %>
</p>

<%= link_to like_article_path(@article.id), method: :post do %>
  <% if i_have_liked_article @article.id %>
    <i class="material-icons icon-red favorite" id="<%= @article.id %>">favorite</i>
  <% else %>
    <i class="material-icons icon-red favorite" id="<%= @article.id %>">favorite_border</i>
  <% end %>
<% end %>
<%= link_to bookmark_article_path(@article.id), method: :post do %>
  <% if i_have_bookmarked_article @article.id %>
      <i class="material-icons icon-red favorite" id="<%= @article.id %>">bookmark</i>
    <% else %>
      <i class="material-icons icon-red favorite" id="<%= @article.id %>">bookmark_border</i>
    <% end %>
  <% end %>
<p>
  <strong>Written by</strong>
  <%= @article.user.email %>
</p>
<% my_comments = current_comments(@article.id) %>

<%  my_comments.each do |comment| %>
  <% my_comments.each do |comment| %>
    <div class="card">
    <p><% comment.body %><p>
    </div>
  <% end %>
  <div class="card horizontal">
      <div class="card-image waves-effect waves-block waves-light my-height">
        <%= image_tag("default.jpg") %>
      </div>
      <div class="card-stacked my-height">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= comment.body %><i class="material-icons right">expand_less</i></span>
          <span class=" grey-text text-darken-4">Written by <%= comment.body %></span>
        </div>
      </div>
      
  </div>
<% end %>


<%= form_with(url:"/comments", model: @comment, class: "input-field col s9") do |f| %>
  <%= f.text_field :body %>
  <%= f.hidden_field :article_id, value: @article.id %>
  <%= f.submit "Create" %>
<% end %>

